<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/faviconwhite.png">

  <title>Agent Dashboard</title>

</head>



<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <img style="height: 50px; margin-left: 30px" src="assets/logowhite.png" alt="myalert">
</nav>
<!-- Sidebar navigation -->

<div class="container">
  <div class="row">
    <div class="col-sm">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="router.navigate(['close_report'])">
              <i class="fas fa-sticky-note"></i>Close Report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="firebaseService.logout()">
              <i class="fas fa-sign-out-alt"></i>Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </div>
    <!-- Main content -->
  <div class="col-md">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 style="margin-left: 300px">Hello <strong>{{agent.userDTO.name}} {{agent.userDTO.surname}}</strong></h1>
      </div>

      <div class="card text-center" style="border-style: solid; align-content: center">
        <div class="card-header">
          Info
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to your Dashboard</h5>
          <p class="card-text">With the navbar on the left you can explore the main funtionality of this web app!</p>
          <p class="card-text">You are the security agent of <strong>Squinzano</strong></p>
        </div>
        <div class="card-footer text-muted">
          Email: {{agent.userDTO.email}}
        </div>
      </div>
      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>


  </div>
</body>
</html>
